@import "../../../../../sass/colors";

.print-container {
  width: 85%;
  margin: 0 auto;
}

#date-display {
  border-bottom: $accent-color 1px solid;
  //text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  color: $accent-color;

  &:hover {
    border-bottom: $accent-color 3px solid;
  }
}

thead {
  color: rgba(0,0,0,0.6);
}

#print-makeup, #print-roster {
  visibility: hidden;
}
