.hide-search {
  display: none;
}

.hide-menu {
  display: none;
}

#overlay {
  position: fixed;
  top:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 10;
}

.search {
  z-index: 100;
}
