<div class="admin">
  <nav [hidden]="!showNav">
    <div class="nav-wrapper container">
      <div class="menu" [ngClass]="{'hide-menu': showSearch}">
        <a routerLink="/admin/dash" class="brand-logo">Odyssey Admin</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a (click)="setSearch(true)"><i class="material-icons">search</i></a>
          </li>
          <!--<li><a><i class="material-icons">view_module</i></a></li>-->
          <li><a routerLink="/admin/settings"><i class="material-icons">settings</i></a></li>
          <li><a><i class="material-icons">more_vert</i></a></li>
        </ul>
      </div>
      <form class="search" [ngClass]="{'hide-search': !showSearch}">
        <div class="input-field search">
          <input #search id="search" name="search" type="search" autocomplete="off" (keyup)="runSearch(search.value)">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i (click)="setSearch(false)" class="material-icons">close</i>
          <div class="collection" *ngIf="searchResults && searchResults.length">
            <div *ngFor="let student of searchResults">
              <a (click)="navigateTo(student)" class="collection-item" >{{student.firstName}} {{student.lastName}}</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </nav>

  <div id="overlay" [ngClass]="{'hide-search': !showSearch}"></div>

  <router-outlet></router-outlet>
</div>
