@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

a {
  cursor: pointer;
}

@import "colors";

@import "scheduler";
@import "admin";

@import "../../../node_modules/materialize-css/sass/materialize";
