<div class="container frow centered height-100" [ngClass]="{'submitted': submitted}">
  <div class="col-md-1-3 text-center">
    <div class="heading">
      <h1>
        Odyssey Scheduler
      </h1>
      <h4 id="error" [ngClass]="{'show': (!submitted && errorMsg)}">
        {{errorMsg}}
      </h4>
    </div>
    <form class="form" (ngSubmit)="loginSubmit(); loginForm.reset()" #loginForm="ngForm" name="loginForm">
      <input class="white-input" [(ngModel)]="studentNumber" type="text" placeholder="Student number" required name="studentNumber" id="studentNumber" autocomplete="off" />
      <button class="btn-white" type="submit" id="login-button" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>

