<div class="container center-content center-align" [ngClass]="{'submitted': submitted}">
  <div class="animate-me">
    <h1>
      Odyssey Scheduler
    </h1>
    <h4 id="error" [ngClass]="{'show': (!submitted && errorMsg)}">
      {{errorMsg}}
    </h4>
    <form class="form" (ngSubmit)="loginSubmit(); loginForm.reset()" #loginForm="ngForm" name="loginForm">
      <input class="white-input focus-expand browser-default" [(ngModel)]="studentNumber" type="text" placeholder="Student Number" required name="studentNumber" id="studentNumber" autocomplete="off" />
      <!--<br>-->
      <input class="white-input focus-expand browser-default" [(ngModel)]="birthday" type="text" placeholder="Birthday (mm/dd/yyyy)" required name="birthday" id="birthday" >
      <br>
      <button class="btn-white" type="submit" id="login-button" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>
