<div class="container">
  <div class="header mt-30 center-align">
    <!--<h1>Select an Available Makeup Day</h1>-->
    <h1>You are scheduling a makeup day for:</h1>
    <br>
    <h1>{{moment(missedClass.classDate, 'dddd')}}</h1>
    <h4>{{moment(missedClass.classDate, 'MMMM D, YYYY')}}</h4>
    <h5>{{moment(missedClass.block.startTime, 'h:mm a')}} - {{moment(missedClass.block.endTime, 'h:mm a')}}</h5>
    <hr class="my-25">
    <h3 class="text-center mb-40">Select an available makeup day below:</h3>
  </div>
</div>

<div class="block-container mb-100">
  <div class="frow justify-center">
    <div class="col-lg-1-5 col-md-1-3 col-sm-1-2 col-xs-1-1" *ngFor="let day of schoolDays">
      <div class="date-block center-align">
        <div class="date">
          <h1>{{moment(day.classDate, 'dddd')}}</h1>
          <h4>{{moment(day.classDate, 'MMMM D, YYYY')}}</h4>
        </div>
        <div class="blocks">
          <div class="block p-30" *ngFor="let block of day.blocks" (click)="selectClass(block, day.classDate)">
            <h3>{{block.openSpots}} spaces left</h3>
            <h4>{{moment(block.startTime, 'h:mm a')}} - {{moment(block.endTime, 'h:mm a')}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-9-10">
    <div class="footer my-30 center-align">
      <button class="btn-white" (click)="signOut()">Not Shane?</button>
      <button class="btn-white" routerLink="../missed">Wrong Date?</button>
    </div>
  </div>
</div>
